@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

ul {
  list-style: none;
  padding: 0;
}

.button {
  background: #ef7f22;
  border: none;
  border-radius: 29px;
}

.nav-bar {
  margin-left: 18%;
}

.nav-link {
  color: #1b2f57;
  font-size: 18px;
  font-weight: 500;
  margin: 12px;
}

.img-arrow {
  width: 5%;
}
.sub-title-section{
  color: #EF7F22;
  font-weight: bold;
}
.title-section{
  color: #1B2F57;
}
.box-row-sub-title{
  font-weight: bold;
  color: #0E1F51;
  margin-right: 100px ;
}
.box-row-subtitle{
  font-weight: bold;
  color: #0E1F51;
  margin-left: 100px ;
}
.box-row-title{
  font-weight: bold;
  color: #EF7F22;
  margin-right: 130px ;
}
 /*.box-row-icon-text{
   border: 1px solid black;
   
}*/
.icon-form-box{
  background:#F7F7F7 ;
  border-radius: 5px;
  margin-right: 30px;
}
.last-icon{
  background-color:#EF7F22;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 17px;
  padding: 15px;
  width: 50px;
  height:50px;
}
.contactus-button{
  margin-left: 130px;
  border-radius: 15px;
  background-color:#EF7F22;
   border: none;
   padding: 5px;
}


 
 .contact-form-input{
  margin-bottom: 35px;
  margin-left: 128px;
  margin-top: 11px;
  background-color: #F7F7F7;
  border: none;
  padding: 12px;
  width: 52%;
  border-radius: 13px;
  font-weight: bold;
 }


/* hero img css start */
.hero-img-div{
  position: relative;
}

.hero-im-text-div{
  position: absolute;
  top: 50%;
  left: 50%;
}

.hero-img{
  height: 468px;
}

.hero-img-div{
  /* background-image: url("https://via.placeholder.com/800"); */
  background-image: url("./../images/hero-img-contactus.png");
  background-color: #cccccc;
  height: 500px;
}
/* hero img css end */

/* footer CSS start */

footer {
  background: #1b2f57;
  color: white;
}

footer ul li{
    font-size: 14px;
    margin-top: 15px;
    font-weight: normal;
}
footer h5{
    font-weight: bold;
    font-size: 21px;
}
.footer-icons{
  margin-right: 10px;
}

hr{
  color: #495979;
    background: #495979;
    border: 4px solid #495979;
    width: 100%;
}

.copy-right-div{
  display: flex;
    justify-content: space-between;
}

.social-icon-footer{
  margin-left: 20px;
}
/* footer CSS End */
 
/* product-age-css */
 
/* Ensure the description section has padding and spacing */
.item-product {
  padding: 20px;
  text-align: center; /* Center the text within each item */
}
 
.description-product {
  padding-top: 10px;  /* Adds some space above the description text */
}
 
.image-product {
  width: 80%;  /* Adjust the image width to make it smaller */
  max-width: 200px;  /* Limit the maximum width */
  margin-bottom: 10px;  /* Adds space below the image */
}
 
.item-product-last {
  padding: 20px;
  text-align: center; /* Center the text within each item */
}
 
.description-product-last {
  text-align: left;  /* Adds some space above the description text */
}
 
.item-product-last-1 {
  padding: 20px;
  text-align: center;
  flex-direction: row; /* Center the text within each item */
}
 
.description-product-last-1 {
  text-align: left;  /* Adds some space above the description text */
}
 
